<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</head>

<body>
  <div class="h-screen bg-gray-300" id="app">
    <div class="container flex justify-center py-20">
      <div class="p-3 bg-white rounded-xl max-w-lg hover:shadow">
        <div class="flex justify-between w-full"> <img v-bind:src="imageURL" width="150" class="rounded-lg">
          <div class="ml-2">
            <div class="p-2">
              <h3 class="text-xl">Name: {{fname}} {{lname}}</h3> <span v-show="showCareer()">Career: {{career}}</span>
            </div>
            <div class="flex justify-between items-center p-3 bg-gray-200 rounded-lg">
              <div class="mr-3"> <span class="text-gray-400 block">{{aticle}}</span> <span
                  class="font-bold text-black text-xl">34</span> </div>
              <div class="mr-3"> <span class="text-gray-400 block">{{follower}}</span> <span
                  class="font-bold text-black text-xl">940</span> </div>
              <div> <span class="text-gray-400 block">{{ratting}}</span> <span
                  class="font-bold text-black text-xl">8.9</span> </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center mt-2 gap-2"> <button
            class="w-full h-12 rounded-md border-2 text-md hover:shadow hover:bg-red-700 hover:border-red-700 hover:text-white ">{{chat}}</button>
          <button
            class="w-full h-12 rounded-md bg-blue-700 text-white text-md hover:shadow hover:bg-blue-800">{{chat}}</button>
        </div>

        <!-- <div id="assignment6" class ="mt-4">
                  <form @submit.prevent = "checkForm">
                    <p v-if="errors" class="text-red-500">
                        <b>Please correct the following error(s):</b>
                        <ul>
                           <li v-for="error in errors" class="text-red-500">{{ error }}</li> 
                        </ul>
                    </p>
                <div class="">
                     <label for="firstname">First Name:  </label>
                  <input type = "text" id="firstname" v-model.lazy="firstname" name = "firstname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>

                <div class=""> 
                    <label for="lastname">Last Name:  </label>
                    <input type = "text" id="lastname" v-model.lazy="lastname" name = "lastname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                  </div>

                  <div class=""> 
                      <label for="age">AGE:  </label>
                    <input type = "text" id="age" v-model="age" name = "age" class="bg-gray-100 rounded px-4 py-2 mb-4">
                  </div>

                  <div>
                    <label class="text-sm leading-7 text-gray-600">Gender</label>
                    <div class="flex flex-row pt-2 space-x-2">
                        <input type="radio" id="Male" v-model="gender" name="gender" value="M" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Male">Male</label>
                        <input type="radio" id="Female" v-model="gender" name="gender" value="F" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Female">Female</label>
                  </div>

                  <div>
                    <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
                    <input type="text" id="email" v-model="email" name="email" class="bg-gray-100 rounded px-4 py-2 mb-4">
                  </div>

                  <div>
                    <label for="phone"class="text-sm leading-7 text-gray-600">Phone Number</label>
                    <input type="text" id="phone" v-model="phone" name="phone" class="bg-gray-100 rounded px-4 py-2 mb-4">
                  </div>

                  <div>
                    <label for="chosensubject"class="text-sm leading-7 text-gray-600">Subject</label>
                    <select id="chosensubject" v-model="chosensubject" name="chosensubject" class="bg-gray-100 rounded px-4 py-2 mb-4">
                    <option v-for="subject in subject_lists" :value="subject.subject_id">
                        {{subject.subject_name}}
                    </option>
                  </div>

                  <div >
                    <input type="submit" value="Submit" class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                </div>
                </form>
              </div> -->

        <div id="assignment1" class="mt-4">
          <form @submit.prevent="checkProfile">
            <div class="mb-4">
              <label for="fname">First Name: </label>
              <input type="text" id="fname" v-model.lazy="fname" placeholder="Enter your first name"
                class="bg-gray-100 rounded px-4 py-2 " />
                <p v-if="requires" class="text-red-500">{{requires.firstname}}</p>
            </div>
            
            <div class="mb-4">
              <label for="lname">Last Name: </label>
              <input type="text" id="lname" v-model.lazy="lname" placeholder="Enter your last name"
                class="bg-gray-100 rounded px-4 py-2" />
                <p v-if="requires" class="text-red-500 " >{{requires.lastname}}</p>
            </div>
            
            <div class="mb-4">
              <label for="email">Email: </label>
              <input type="text" id="email" v-model="email" placeholder="Enter your email"
                class="bg-gray-100 rounded px-4 py-2 ml-9" />
                <p v-if="requires" class="text-red-500 ">{{requires.email}}</p>
            </div>

            <div class="mb-4">
              <label for="phone">Phone: </label>
              <input type="text" id="phone" v-model="phone" placeholder="Enter your phone"
                class="bg-gray-100 rounded px-4 py-2 ml-7" />
                <p v-if="requires" class="text-red-500 ">{{requires.phone}}</p>
            </div>

            

            <div class="mb-4">
              <label for="career">Career: </label>
              <input type="text" id="career" v-model.lazy="career" placeholder="Enter your career"
                class="bg-gray-100 rounded px-4 py-2 ml-7" />
                <p v-if="requires" class="text-red-500 ">{{requires.career}}</p>
            </div>

            <div class="mb-4">
              <label for="chosenfaculty">Faculty: </label>
              <select  id="chosenfaculty" v-model="chosenfaculty" name="chosenfaculty" placeholder="Choose your facalty"
                class="bg-gray-100 rounded px-4 py-2 ml-7">
                <option v-for="faculty in faculty_lists" :value="faculty.faculty_id">
                  {{faculty.branch_name}}
                </option>
            </div>

            <div class="mb-4">
              <input type="submit" value="Submit"
                class="px-8 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>